.featur__list {
  display: flex;
}
.featur__item {
  justify-content: space-between;
  align-items: baseline;
  max-width: 270px;
}

.featur__conteiner-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  content: '';
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.featur__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-black);
  margin-bottom: 10px;
}
.featur__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
}

.featur__list .featur__item + .featur__item {
  margin-left: 30px;
}
